# API Configuration
VITE_API_BASE_URL=https://dev.staffsynctech.co.uk/api/v1
VITE_API_KEY=990ef49add9082155b6faf7facc842484286d9a2d3017588cdf372eb1049fc46

# Environment
VITE_NODE_ENV=development

# Stripe (for production)
# VITE_STRIPE_PUBLISHABLE_KEY=pk_live_your-stripe-publishable-key

# Feature Flags
VITE_ENABLE_ANALYTICS=false
VITE_ENABLE_DEBUG=true
